<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{header :: header}"></div>
</head>


<body>
<!-- navbar of bootstrap -->
<div th:replace="~{header :: nav_header}"></div>
<br>

<div class="container">
    <div class="row">
        <!-- support different devices" large device , medium device, small device, and align to center, card=add border -->
        <div class="col-md-6 col-sm-6 container justify-content-center card">
            <h3 class="text-center">Create New Midi File</h3>

            <div class="card-body">
                <!-- define action for this column -->
                <!-- to access the student object we are using th:object="${midifile}" -->

                <!-- add here  enctype="multipart/form-data" - for pictures -->
                <form method="post" th:action="@{/midifiles}" th:object="${midifile}" enctype="multipart/form-data"
                      style="background-color:#FCEAEA">
                    <!-- design the form -->

                    <div class="from-group">
                        <label>Genre ID </label>
                        <input
                                required
                                type="text"
                                name="id"
                                th:field="*{genre}"
                                class="form-control"
                                placeholder="Enter Genre ID"
                        >
                    </div>

                    <!-- input image file name -->
                    <div class="form-group">
                        <label class="col-form-label">Midi File</label>
                        <input type="file"
                               required
                               class="form-control-file"
                               name="multiPartFile"
                               placeholder="Enter Midi file"
                        >
                    </div>

                    <!-- submit button -->
                    <div class="box-footer">
                        <div class="shadow" style="height:40px;width:80px">
                            <button type="submit" class="btn btn-primary" style="height:40px;width:80px">
                                Submit
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>