<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{header :: header}"></div>
    <link rel="stylesheet" href="/style.css";>
</head>
<body>
<div th:replace="~{header :: nav_header}"></div>


<div class="container" style="padding-top: 30px">
    <div class="row">
        <!-- support different devices" large device , medium device, small device, and align to center, card=add border -->
        <div style="text-align:center; background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));" class="col-md-6 col-sm-6 container justify-content-center card">
            <div  class="title_container">
                <h1 class="title">Generate New Music!</h1>
            </div>
            <div class="card-body">
                <!-- define action for this column -->
                <!-- to access the student object we are using th:object="${midifile}" -->

                <!-- add here  enctype="multipart/form-data" - for pictures -->

                <!-- <form method="post" th:action="@{/midifiles}" th:object="${midifile}" enctype="multipart/form-data"> -->

                    <div class="add_file_form">
                        <label class="label_style"> Choose a Genre</label>
                            <option value="0">Select Genre</option>
                            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genreName}"></option>
                        </select>


                        <!-- submit button -->
                        <div class="box-footer">
                            <div class="shadow" style="height:40px; width:80px ; padding-top: 15px">
                                <button type="submit" class="btn btn-primary" style="height:40px;width:80px">
                                    Generate
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{footer :: footer}"></div>
</body>
</html>