<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{header :: header}"></div>
    <link rel="stylesheet" href="/style.css";>
    <script type="text/javascript" src="/JavaScript/midi-player.js"></script>


</head>
<body>
<div th:replace="~{header :: nav_header}"></div>


<div class="container" style="padding-top: 30px">
    <div class="row">
        <!-- support different devices" large device , medium device, small device, and align to center, card=add border -->
        <div style="text-align:center; background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));" class="col-md-6 col-sm-6 container justify-content-center card">
            <div  class="title_container">
                <h1 class="title">Generate New Music!</h1>
            </div>
            <div class="card-body">
                <!-- define action for this column -->
                <!-- to access the student object we are using th:object="${midifile}" -->

                <!-- add here  enctype="multipart/form-data" - for pictures -->

                <!-- <form method="post" th:action="@{/midifiles}" th:object="${midifile}" enctype="multipart/form-data"> -->

                <form id="formID" method="post" th:action="@{/generate}" th:object="${genre}" enctype="multipart/form-data">
                    <div class="add_file_form">

                        <label class="label_style"> Choose a Genre</label>
                        <select style="width: 50%; padding-left: 1vw" class="form-control" th:field="${genre.id}"  id="dropOperator">
                            <option value="0">Select Genre</option>
                            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genreName}"></option>
                        </select>


                        <!-- submit button -->
                        <div class="box-footer">
                            <div class="shadow" style="height:40px; width:80px ; padding-top: 15px">
                                <button id="generate-btn" type="submit" class="btn btn-primary" style="height:40px;width:80px">
                                    Generate
                                </button>
                            </div>
                        </div>
                        <script>
                            // Add event listener to the submit button
                            document.getElementById("generate-btn").addEventListener("click", function(event) {
                                event.preventDefault(); // Prevent the default form submit action
                                show_notification(); // Call the show_notification function
                                document.getElementById("formID").submit(); // Submit the form


                            });
                        </script>

                    </div>
                </form>
            </div>
            <div id="midi-player-div" style="visibility: visible">
                <audio id="midi-player"></audio>

                <script th:inline="javascript">

                    /* Get the base64 encoded MIDI file from a Thymeleaf attribute */
                    let base64url = [[${midiURL}]];
                    let audio = document.getElementById("midi-player");
                    audio.src = base64url;

                    function playMidi() {
                        let audio = document.getElementById("midi-player");
                        audio.play();
                    }
                </script>
            </div>

        </div>
    </div>
</div>
<div class ="console-div">
    <p style="color:black;" id="console-output"></p>
    <script>
        const updateConsole = () => {
            fetch('/getConsole') // send GET request to server
                .then(response => response.text()) // extract response body as text
                .then(output => {
                    document.getElementById('console-output').innerHTML = output; // update HTML element with response data
                    document.getElementsByClassName("console-div")[0].scrollTop=document.getElementsByClassName("console-div")[0].scrollHeight
                    setTimeout(updateConsole, 1000); // call updateConsole again after 1 second
                })
                .catch(error => console.error(error));
        };

        updateConsole(); // start the update process

    </script>
</div>


<div th:replace="~{footer :: footer}"></div>
</body>
</html>