<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="~{header :: header}"></div>
    <link rel="stylesheet" href="/style.css";>
</head>
<body>
    <div th:replace="~{header :: nav_header}"></div>
    <div class="divider">
      <div class="text_box">
          <div style="padding-top: 9vh" class="title_container">
              <h1 class="title">Welcome to our Music Generation Project</h1>
          </div>
            <p>Powered by machine learning, our system generates unique and original compositions in a variety of styles and genres.</p>
            <p>Introducing our cutting-edge music generation project, powered by machine learning. Our system uses advanced algorithms to analyze and learn from a vast dataset of existing music, allowing it to generate unique and original compositions in a variety of styles and genres. Whether you're a musician looking for inspiration or a music lover looking to discover new sounds, our system offers endless possibilities. With a user-friendly interface and the ability to customize and fine-tune your preferences, the possibilities are truly endless. Join us on our journey to push the boundaries of music creation and discover the future of sound.</p>
      </div>
    </div>

    <div th:replace="~{footer :: footer}"></div>
</body>
</html>